@import url(https://fonts.googleapis.com/css?family=Oxygen);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

@font-face {
    font-family: BebasNeue;
    src: url("../fonts/BebasNeue.otf");
}

@font-face {
	font-family: Brandon Grotesque;
	src: url("../fonts/Brandon_bld.otf");
}

/*********************/
/* TABLE OF CONTENTS */
/*********************/

/*-----------------------
|						|
|	1.  GLOBAL			|
|	2.  HEADER			|
|	3.  HERO			|
|						|
-----------------------*/

/* GLOBAL */

body {
	background: #E9EBEE;
	font-family: Arial, sans-serif;
}

h1, h2, h3 {
	font-family: "Brandon Grotesque", Arial, sans-serif;
	margin: 0;
}

h1 {
	margin-bottom: 30px;
}

h2 {
	margin-bottom: 25px;
}

a {
	color: #96281B !important;
}

a:hover {
	text-decoration: none;
}

a.btn {
	color: white !important;
}

:hover, a, .btn {
	transition: all 0.1s ease-in-out;
} 

p {
	font-size: 16px;
	margin: 0;
}

section {
	padding: 40px 0 50px 0;
}

section.white {
	background: white;
	padding: 50px 0;
}

.btn {
	font-size: 14px;
    display: inline-block;
    cursor: pointer;
    padding: 5px 15px;
	font-family: "Montserrat", Arial, sans-serif;
    border: solid #96281B 2px;
    border-radius: 0;
	margin-right: 10px;
}

.btn-default {
    background: #96281B;
    color: white;
}

.btn-cancel {
	background: white;
	color: #96281B;
}

.btn-control {
	background: none;
	border: none;
	padding: 10px 20px;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .btn-default:hover, .btn-default.focus, .btn-default:focus, .btn-default:active {
	color: white;
	background: #AB5248;
	border: solid #AB5248 2px;
	outline: none;
}

.btn-cancel.active.focus, .btn-cancel.active:focus, .btn-cancel.active:hover, .btn-cancel:active.focus, .btn-cancel:active:focus, .btn-cancel:active:hover, .btn-cancel:hover, .btn-cancel.focus, .btn-cancel:focus, .btn-cancel:active {
	color: white;
	background: #96281B;
	outline: none;
}

.btn-control.active.focus, .btn-control.active:focus, .btn-control.active:hover, .btn-control:active.focus, .btn-control:active:focus, .btn-control:active:hover, .btn-control:hover, .btn-control.focus, .btn-control:focus, .btn-control:active {
	background: #F3F3F3;
	outline: none;
}

.form-control {
	border-radius: 0;
}

.box {
	background: white;
    border-radius: 2px;
    border: solid 1px;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    padding: 40px 30px;
}

.img-responsive {
	display: inline-block;
}

.color {
	color: #96281B;
}

.facebook {
	background: #3B5998;
	padding: 7px 17px;
	border: none;
}

.facebook:hover, .facebook:focus, .facebook:active {
	background: #3B5998;
	box-shadow: inset 0 0 100px rgba(255,255,255,0.3);
}

.google {
	background: #D34836;
	padding: 7px 17px;
	border: none;
}

.google:hover, .google:focus, .google:active {
	background: #D34836;
	box-shadow: inset 0 0 100px rgba(255,255,255,0.3);
}

.paypal {
	background: #009CDE;
	padding: 7px 17px;
	border: none;
}

.paypal:hover, .paypal:focus, .paypal:active {
	background: #009CDE;
	box-shadow: inset 0 0 100px rgba(255,255,255,0.3);
}

.montserrat {
	font-family: "Montserrat", Arial, sans-serif;
}

.brandon-grotesque {
	font-family: "Brandon Grotesque", Arial, sans-serif;
}

.oxygen {
	font-family: "Oxygen", Arial, sans-serif;
}

.progress-bar {
	background: #96281B;
}

.badge {
	margin-top: 12px;
	background: #96281B;
    padding: 7px 15px;
    border-radius: 0;
    margin-right: 7px;
}

.badge-2 {
	background: #F3F3F3;
	color: black;
}

.tasks-list {
	list-style: none;
}

.list-group-item {
	font-family: arial;
	display: inline-block;
	width: 100%;
	border-radius: 0 !important;
	height: 50px;
	line-height: 50px;
	padding: 0 15px;
	cursor: pointer;
}

.list-group-item.task {
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.list-group-item.task:hover {
	background: #F3F3F3;
}

.list-group-item.task .content {
	width: 55%;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.list-group-item.task-control {
	display: none;
	height: 80px;
	line-height: 80px;
}

.glyphicon {
	margin-right: 8px;
    position: relative;
    top: 2px;
}

.fa {
	margin-right: 8px;
}

.checkbox-inline {
	margin-top: 5px;
}

/* HEADER */

.panel-message .box {
	padding: 0 30px;
	margin-top: 25px;
}

.panel-message ul {
	margin: 0;
	padding: 10px;
}

.panel-message li {
	padding: 10px 0;
}

.navbar {
	font-family: "Montserrat", Arial, sans-serif;
    position: relative;
    background: #FAFAFA;
    border: none;
    border-radius: 0;
    border: solid 1px;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    color: #ABABAB;
    font-size: 13px;
    margin: 0;
}

.navbar .navbar-nav {
	margin: 0;
}

.navbar .navbar-nav>li>a, .navbar .navbar-nav>li>a:active {
	background: none;
}

.navbar .navbar-nav>li>a:hover, .navbar .navbar-nav>li>a:focus {
	color: #96281B;
	background: rgba(150,150,150,0.1);
	outline: none;
}

.navbar-brand {
	padding: 0;
	margin-left: 15px;
	margin-top: 5px;
	height: 40px;
}

.navbar-brand img {
	height: 100%;
}


.navbar-collapse {
	padding: 0;
}

.navbar-form {
	border: 0;
    text-align: right;
    padding-right: 0;
}

.brand {
	color: #96281B;
	font-family: "BebasNeue", arial, sans-serif;
	font-size: 30px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	width: 20%;
    line-height: 50px;
}

/* HOMEPAGE */

section.hero {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: calc(100vh - 52px);
	font-size: 18px;

	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}


section.hero > div > div > div {
	background: #FFFFFF;
	padding: 50px;
	position: relative;
	bottom: 25px;
}

/* UPLOAD */

.start {
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 18px;
	padding: 5px 50px;
}

.uploadForm {
	display: none;
	margin: 25px 0;
}

.uploadForm .inputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.uploadForm .inputFile:focus + label {
    color: white;
	background: #AB5248;
	border: solid #AB5248 2px;
	outline: none;
}

.uploadForm .file-preview {
	display: none;
	max-height: 250px;
}

.uploadForm video, .uploadForm audio {
	max-height: 250px;
}

.upload-info {
	display: none;
}

.info-tasks {
	position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: #ABABAB !important;
    cursor: pointer;
}

.pay-choice {
	margin: 25px 0;
}

.register-success {
	display: none;
}


/* ANIMATIONS */

/*
 * FadeIn animation
*/
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
/*
 * FadeOut animation
*/
@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes fadeOut{
    0% {opacity: 1;}
    100% {opacity: 0;}
}
.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.ng-enter           { animation: fadeIn 0.1s both ease-in; z-index: 8888; }
/* .ng-leave           { animation: fadeOut 0.2s both ease-in; z-index: 9999; } */


/* RESPONSIVE */

@media (max-width: 991px) {
	.start {
	    font-size: 16px;
    	padding: 5px 50px;
	}

	.list-group-item.task .content {
		width: 40%;
	}
}

@media (max-width: 767px) {

	.panel-message .box {
		margin-top: 0;
	}

	section {
		padding: 0 0;
	}

	section.white {
		padding: 30px 0;
	}

	.navbar-form {
	    text-align: center;
	    padding-right: 15px;
	}

	section.hero {
		display: block;
		padding: 0;
		height: auto;
	}

	section.hero > div > div > div {
		padding: 50px;
		bottom: 0;
	}

	.task span.pull-right {
		display: none;
	}

	.list-group-item.task .content {
		width: 100%;
		display: inline;
	}

}

@media (max-width: 480px) {
	h1 {
		font-size: 24px;
	}

	h2 {
		font-size: 18px;
	}

	p {
		font-size: 14px;
	}

	section.hero > div > div > div {
		padding: 25px 20px;
		bottom: 0;
	}

	.uploadForm .file-preview {
		display: none !important;
	}

}