<div class="home" ng-controller="taskController">
	<section class="hero">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center box">
					<div class="introduction">
						<h1 class="text-center">
							<img src="./img/Filecoder Brand Medium.png" class="img-responsive" alt="Filecoder">
						</h1>
						<hr>
						<p>Welcome to our audio/video converter platform.</p>
						<p>Upload your file now and choose the output.</p>

						<button class="btn btn-default start text-uppercase">Convert</button>
					</div>

					<form class="uploadForm" name="upload_form">
						<h2>Choose a video or an audio</h2>
						<div class="form-group col-sm-6 btn-full-container">
							<input type="file" class="inputFile" name="file" id="file" ngf-select="checkFile()" ng-model="file" ngf-pattern="'video/*,audio/*,.mkv'" ngf-accept="'video/*,audio/*,.mkv,.avi,.ts'" ngf-max-size="3000MB">
							<label for="file" class="btn btn-default btn-full file-btn"><span class="glyphicon glyphicon-file"></span>From a file</label>
						</div>
						<div class="form-group col-sm-6 btn-full-container">
							<span class="btn btn-default btn-full url-btn"><span class="glyphicon glyphicon-link"></span>Or a link</span>
						</div>
						<div class="form-group">
							<p class="filename color montserrat"></p>
						</div>					
						<div class="form-group file-preview">
							<video controls ngf-src="file"></video>
							<audio controls ngf-src="file"></audio>			
						</div>
						<div class="form-group url-link">
							<input type="url" class="form-control" name="url" ng-model="url" ng-change="checkFile()" placeholder="http://yourvideourl.com">
						</div>
						<div class="form-group">
							<select class="form-control output-select" ng-model="task.output" disabled>
								<option value="" disabled ng-selected>Upload a video/audio and choose the output</option>
								<option disabled="disabled">-- Video --</option>
								<option ng-show="isVideo">AVI</option>
								<option ng-show="isVideo">MP4</option>
								<option ng-show="isVideo">MKV</option>
								<option ng-show="isVideo">3GP</option>
								<option ng-show="isVideo">FLV</option>
								<option ng-show="isVideo">MOV</option>
								<option ng-show="isVideo">M2TS</option>
								<option ng-show="isVideo">TS</option>
								<option ng-show="isVideo">MPG</option>
								<option ng-show="isVideo">OGG</option>
								<option ng-show="isVideo">WEBM</option>
								<option ng-show="isVideo">WMV</option>
								<option disabled="disabled">-- Audio --</option>

								<option>MP3</option>
								<option>AAC</option>
								<option>AIFF</option>
								<option>FLAC</option>

								<option ng-hide="isVideo">M4A</option>
								<option ng-hide="isVideo">OGG</option>
								<option ng-hide="isVideo">WAV</option>
								<option ng-hide="isVideo">WMA</option>
							</select>
						</div>
						<button class="btn btn-cancel" ng-click="clearMessage()">Cancel</button>
						<button type="submit" class="btn btn-default btn-upload" ng-click="uploadCreate()">Upload</button>
					</form>
					<div class="upload-info">
						<div class="progress">
							<div class="progress-bar montserrat" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{width: progress}">
								{{ progress }}
							</div>
						</div>
						<p ng-hide="isLoggedIn">You file has been uploaded but you must be registered in order to continue</p>
						<button class="btn btn-cancel" ng-show="isLoggedIn" ng-click="clearMessage()">Upload again</button>
						<a href="" class="btn btn-default" ng-show="isLoggedIn" ng-click="convert(-123, 'Pending')">Convert now</a>
						<button class="btn btn-cancel"ng-hide="isLoggedIn" ng-click="clearMessage()">Cancel</button>
						<a href="/register" class="btn btn-default" ng-hide="isLoggedIn" ng-click="clearMessage()">Register</a>
					</div>	
					<div class="download-info">
						<h2 ng-hide="downloadSuccess || downloadError">We are checking your url<br>Please wait...</h2>
						<h2 ng-show="downloadSuccess">Your file is downloaded</h2>
						<h2 ng-show="downloadError">Your URL is not correct, try again</h2>
						<img src="/img/loading.gif" alt="Loading Gif" ng-hide="downloadSuccess || downloadError"><br>
						<button class="btn btn-cancel" ng-show="isLoggedIn && (downloadSuccess || downloadError)" ng-click="clearMessage()">Upload again</button>
						<a href="/tasks" class="btn btn-default" ng-show="isLoggedIn && downloadSuccess" >My tasks</a>
						<button class="btn btn-cancel" ng-show="(downloadSuccess || downloadError) && !isLoggedIn" ng-click="clearMessage()">Cancel</button>
						<a href="/register" class="btn btn-default" ng-show="downloadSuccess && !isLoggedIn" ng-click="clearMessage()">Register</a>
					</div>
				</div>
			</div>
		</div>
		<p class="info-tasks brandon-grotesque text-uppercase" ng-hide="tasks | isEmpty" ng-show="isLoggedIn" >
			<span class="glyphicon glyphicon-chevron-down"></span>
			&nbsp Check your latest tasks &nbsp
			<span class="glyphicon glyphicon-chevron-down"></span>
		</p>
	</section>

	<section ng-show="isLoggedIn" class="white">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="latest-tasks">Latest Tasks</h2>

					<ul class="list-group tasks-list">
						<li class="list-group-item task" ng-repeat-start="task in tasks | orderBy:searchFilter:(searchOrder == null ? searchOrder : true) | filter:{ filename: searchTask } | filter:{ status: searchStatus } | filter:{ type: searchType }">
							<span class="badge pull-left">{{ task.status }}</span>
							<span class="content">{{ task.filename }} [{{ task.input }} to {{ task.output }}]</span>
							<span class="pull-right">
								<span class="badge badge-2 pull-left">{{ task.size | bytes }}</span> 
								<span class="badge badge-2 pull-left">{{ task.type | uppercase }}</span>
								{{ task.date | date: 'yyyy-MM-dd HH:mm:ss' }}
							</span>
						</li>
						<li class="list-group-item task-control text-center" ng-repeat-end>
							<button class="btn btn-control" ng-click="convert(task._id, task.status)"><span class="glyphicon glyphicon-flash"></span>Convert</button>
							<button class="btn btn-control" ng-click="deleteTask(task._id)"><span class="glyphicon glyphicon-remove"></span>Delete</button>
						</li>
					</ul>

					<div class="row text-center">
						<a href="/tasks" class="btn btn-default">All Tasks</a>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>