<div class="login">
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-offset-2 col-md-8 box">
					<h1>Login</h1>
					<h2>Use your email address</h2>
					<form>
						<div class="form-group">
							<input type="email" class="form-control" placeholder="Email" ng-model="user.email" required>
						</div>
						<div class="form-group">
							<input type="password" class="form-control" placeholder="Password" ng-model="user.password" required>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-default" ng-click="logIn()">Login</button>
						</div>
					</form>

					<hr>

					<h2>Or connect with apps</h2>

		        	<button class="btn btn-primary facebook" ng-click="popupWindow('auth/facebook', 'Facebook Connect', 800, 800);"><span class="fa fa-facebook"></span> Facebook</button>
					<button class="btn btn-danger google" ng-click="popupWindow('auth/google', 'Facebook Connect', 800, 800);"><span class="fa fa-google-plus"></span> Google</button>
				</div>
			</div>
		</div>
	</section>
</div>