<div class="login">
	<section>
		<div class="container">
			<div class="row text-center">
				<div class="col-md-offset-2 col-md-8 box">
					<h1>Pricing</h1>
					<p>We offered 3 pricing plans, contact us for more informations</p><br>
					<div class="text-center pricing">
						<div class="col-sm-4 box basic-plan">
							<h2>Basic</h2>
							<hr>
							<p>Slow Conversion</p>
							<hr>
							<p>Price per file duration</p>
							<hr>
							<p class="price">1$ for one hour of file</p>
						</div>
						<div class="col-sm-4 box pro-plan">
							<h2>Professional</h2>
							<hr>
							<p>Fast Conversion</p>
							<hr>
							<p>Unlimited</p>
							<hr>
							<p class="price">300$ / year</p>
						</div>
						<div class="col-sm-4 box enterprise-plan">
							<h2>Enterprise</h2>
							<hr>
							<p>Ultra fast conversion</p>
							<hr>
							<p>Unlimited</p>
							<hr>
							<p class="price">Contact us for Pricing</p>
						</div>
					</div>
				</div>
			</div>
			<hr>
			
		</div>
	</section>
</div>