<div class="login">
	<section>
		<div class="container">
			<div class="row text-center">
				<div class="col-md-offset-2 col-md-8 box">
					<h1>Pricing</h1>
					<p>We offered 3 pricing plans, contact us for more informations</p>
				</div>
			</div>
			<hr>
			<div class="row text-center">
				<div class="col-md-4 box">
					<h2>Basic</h2>
				</div>
				<div class="col-md-4 box">
					<h2>Silver</h2>
				</div>
				<div class="col-md-4 box">
					<h2>Gold</h2>
				</div>
			</div>
		</div>
	</section>
</div>