<div class="register">
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-offset-2 col-md-8 box register-box">
					<h1>Register</h1>
					<h2>Use your email address</h2>
					<form>
						<div class="form-group">
							<label for="">Please provide a correct email address since the file will be send by mail</label>
							<input type="email" class="form-control" placeholder="Email" ng-model="user.email" required>
						</div>
						<div class="form-group">
							<input type="password" class="form-control" placeholder="Password" ng-model="user.password" required>
						</div>
						<div class="form-group">
							<input type="password" class="form-control" placeholder="Confirm password" ng-model="user.passwordConfirm" required>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Username (Optional)" ng-model="user.username">
						</div>
						<div class="form-group">

							<button type="submit" class="btn btn-default" ng-click="createUser()">Register</button>
						</div>
					</form>

					<hr>

					<h2>Or connect with apps</h2>

		        	<button class="btn btn-primary facebook" ng-click="popupWindow('auth/facebook', 'Facebook Connect', 800, 800);"><span class="fa fa-facebook"></span> Facebook</button>
					<button class="btn btn-danger google" ng-click="popupWindow('auth/google', 'Facebook Connect', 800, 800);"><span class="fa fa-google-plus"></span> Google</button>
				</div>
				<div class="col-md-offset-2 col-md-8 box register-success text-center">
					<h2>Welcome {{ loggedUser.username ? loggedUser.username : loggedUser.email }}</h2>
					<a href="/" class="btn btn-default">Go home</a>
				</div>
			</div>
		</div>
	</section>
</div>