<div class="tasks" ng-show="isLoggedIn">
	<section>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="latest-tasks">All tasks</h2>
					<hr>
					<ul class="list-group tasks-list">
						<li class="list-group-item task" ng-repeat-start="task in tasks | orderBy:'-id':true">
							<span class="badge pull-left">{{ task.status }}</span>
							&nbsp {{ task.filename }} [{{ task.input }} to {{ task.output }}]
							<span class="pull-right">
								{{ task.date | date: 'yyyy-MM-dd HH:mm:ss' }} &nbsp
								<span class="badge badge-2 pull-right">{{ task.type }}</span>
							</span>
							
						</li>
						<li class="list-group-item task-control text-center" ng-repeat-end>
							<button class="btn btn-control" ng-click="convert(task._id, task.status)"><span class="glyphicon glyphicon-flash"></span>Convert</button>
							<button class="btn btn-control" ng-click="deleteTask(task._id)"><span class="glyphicon glyphicon-remove"></span>Delete</button>
						</li>
					</ul>				
				</div>
			</div>
		</div>
	</section>
</div>