<div class="tasks" ng-show="isLoggedIn">
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12 box">
					<h1 class="latest-tasks">All tasks</h1>
					<hr>
					<form class="tasks-filter">
						<div class="form-group">
							<input type="search" class="form-control" ng-model="searchTask" placeholder="Search for a task...">
						</div>
						<div class="row">
							<div class="form-group col-md-2">
								<select name="filter-status" class="form-control" ng-model="searchStatus">
									<option value="" ng-selected>Status</option>
									<option value="pending">Filter by Pending</option>
									<option value="paid">Filter by Paid</option>
									<option value="converted">Filter by Converted</option>
								</select>
							</div>
							<div class="form-group col-md-2">
								<select name="filter-type" class="form-control" ng-model="searchType">
									<option value="" ng-selected>Type</option>
									<option value="video">Filter by Video</option>
									<option value="audio">Filter by Audio</option>
								</select>
							</div>
							<div class="form-group col-md-2">
								<select name="order-tasks" class="form-control" ng-model="searchFilter">
									<option value="">Order by</option>
									<option value="name">Order by Name</option>
									<option value="date" ng-selected="true">Order by Date</option>
									<option value="status">Order by Status</option>
									<option value="type">Order by Type</option>
									<option value="size">Order by Size</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label class="checkbox-inline">
									<input type="checkbox" ng-true-value="false" ng-false-value="null" ng-model="searchOrder"> Reverse
								</label>
							</div>
						</div>
					</form>
					
					<h3>{{ (tasks | orderBy:searchFilter:(searchOrder == null ? searchOrder : true) | filter:{ filename: searchTask } | filter:{ status: searchStatus } | filter:{ type: searchType }).length }} Tasks found</h3>

					<ul class="list-group tasks-list">
						<li class="list-group-item task" ng-repeat-start="task in tasks | orderBy:searchFilter:(searchOrder == null ? searchOrder : true) | filter:{ filename: searchTask } | filter:{ status: searchStatus } | filter:{ type: searchType }">
							<span class="badge pull-left">{{ task.status }}</span>
							<span class="content">{{ task.filename }} [{{ task.input }} to {{ task.output }}]</span>
							<span class="pull-right unfold">
								<span class="glyphicon glyphicon-chevron-down"></span>
							</span>
							<span class="pull-right task-info">
								<span class="badge badge-2 pull-left">{{ task.size | bytes }}</span> 
								<span class="badge badge-2 pull-left">{{ task.type | uppercase }}</span>
								{{ task.date | date: 'yyyy-MM-dd HH:mm:ss' }}
							</span>
							
						</li>
						<li class="list-group-item task-control text-center" ng-repeat-end>
							<button class="btn btn-control" ng-click="convert(task._id, task.status)" ng-hide="task.status == 'Converted'"><span class="glyphicon glyphicon-flash"></span>Convert</button>
							<button class="btn btn-control" ng-click="deleteTask(task._id)"><span class="glyphicon glyphicon-remove"></span>Delete</button>
							<a href="{{ task.path }}" download="{{ task.filename }}" target="_self" class="btn btn-control" ng-show="task.status == 'Converted'"><span class="glyphicon glyphicon-save"></span>Download</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</div>